# -------------------------

# Python cache files

# -------------------------

**pycache**/
*.py[cod]
*$py.class

# -------------------------

# Virtual environments

# -------------------------

venv/
.env/
env/
ENV/
.venv/

# -------------------------

# Environment variables

# -------------------------

.env
.env.*

# -------------------------

# Python packaging

# -------------------------

build/
dist/
.eggs/
*.egg-info/
*.egg

# -------------------------

# Logs

# -------------------------

*.log

# -------------------------

# Flask specific

# -------------------------

instance/
.webassets-cache

# -------------------------

# Testing / coverage

# -------------------------

.coverage
.coverage.*
htmlcov/
.pytest_cache/

# -------------------------

# MacOS files

# -------------------------

.DS_Store

# -------------------------

# VSCode

# -------------------------

.vscode/

# -------------------------

# JetBrains IDEs

# -------------------------

.idea/

# -------------------------

# Misc

# -------------------------

*.sqlite3
*.db
